# Servidor
HOST=127.0.0.1
PORT=8001

# Claude (Anthropic)
ANTHROPIC_API_KEY=sk-ant-...
MODEL=claude-haiku-4-5

# Base de datos (PostgreSQL)
DATABASE_URL=postgresql://usuario:clave@127.0.0.1:5432/socrateai

# LTI 1.3 (Canvas)
LTI_TOOL_URL=https://cms.net.pe
LTI_PLATFORM_ISS=https://canvas.instructure.com
LTI_AUTH_URL=https://canvas.cms.net.pe/api/lti/authorize_redirect
LTI_JWKS_URL=https://canvas.cms.net.pe/api/lti/security/jwks
LTI_TOKEN_URL=https://canvas.cms.net.pe/login/oauth2/token
LTI_CLIENT_ID=
LTI_DEPLOYMENT_ID=
